.main-page{
    width: 100%;
    height: 80%;
    background-color:darkcyan;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-page img{
    height: 25rem;
    width: auto;
    border-radius:2rem ;
}

.main-page h2{
    font-size: 4rem;
}

.main-page p{
    font-size: 3rem;
}